{% extends "shop/base.html" %}
{% load static %}
{% block title %}{{ produit.nom }}{% endblock %}

{% block content %}
    <section class="py-5">
        <div class="container py-5">
            <div>
                <div class="reflow-product">
                    <div class="ref-media">
                        <div class="ref-preview shadow rounded-5">
                            <img class="ref-image active shadow" src="{{ produit.image.url }}" alt="{{ produit.nom }}" />
                        </div>
                        {% if produit.promotion %}
                            <div class="ref-promo-badge">{{ produit.promotion.taux_de_reduction }}</div>
                        {% endif %}
                    </div>
                    <div class="ref-product-data">
                        <h2 class="ref-name">{{ produit.nom }}</h2>
                        <div class="ref-rating ">
                            {% for _ in "12345" %}
                                <span class="star">&#9733;</span>
                            {% endfor %}
                        </div>
                        <div class="ref-categories">
                            <a href="{{ produit.categorie.get_absolute_url }}">
                                <span class="ref-category">{{ produit.categorie.nom }}</span>
                            </a>
                        </div>
                        <strong class="ref-price ref-on-sale">
                            {% if produit.promotion %}
                                <s class="ref-original-price">${{ produit.prix }}</s>${{ produit.prix_promotionnel }}
                            {% else %}
                                ${{ produit.prix }}
                            {% endif %}
                        </strong>
                        <span>
                            <div class="reflow-add-to-cart ref-product-controls">
                                <div class="ref-variant">
                                    <label>
                                    </label>
                                </div>
                                <span>
                                    <form id="ajouterProduitPanierForm" action="{% url "cart:ajouter_produit" produit.id %}" method="post">
                                        {% csrf_token %}
                                        <div class="ref-quantity-widget shadow">
                                            <div id="decreaseButton" class="ref-decrease" onclick="decreaseQuantite()">
                                                <span></span>
                                            </div>
                                            <input type="text" value="1" id="id_quantite" name="quantite" class="ref-quantity-field ref-quantity-input">
                                            <div id="increaseButton" class="ref-increase" onclick="increaseQuantite()">
                                                <span></span>
                                            </div>
                                        </div>
                                    </form>
                                </span>
                                <a class="ref-button shadow" href="#" style="background-color: #8FDB76">Acheter</a>
                                <a class="ref-button ajouter-au-panier-btn-produit shadow" data-produit-id="{{ produit.id }}" type="button" onclick="ajouterAuPan({{ produit.id }})">Ajouter au panier</a>
                                <div class="form-check form-switch">
                                    <span ></span>
                                    <label class="form-check-label" for="descriptionSwitch">Description</label>
                                    <input class="form-check-input shadow" type="checkbox" id="descriptionSwitch">
                                </div>
                                <div class="row mt-3">
                                    <div class="col">
                                        <div class="ref-categories shadow rounded-3 p-3" id="descriptionContent" style="display: none;">
                                            {% for key, value in produit.description.items %}
                                                <span style="color: dimgray"><b>{{ key }}:</b></span>
                                                <span class="ref-category float-end">{{ value }}</span><br>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}