{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Détails de la Commande
{% endblock %}

{% block content %}
    <section class="py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col">
                    <h2>Détails de la Commande {{ commande.generer_numero_commande }}</h2>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Informations du client:</h4>
                            <p><strong>Nom:</strong> {{ commande.nom }}</p>
                            <p><strong>Prenom:</strong> {{ commande.prenom }}</p>
                            <p><strong>Email:</strong> {{ commande.email }}</p>
                            <p><strong>Adresse:</strong> {{ commande.adresse }}, {{ commande.code_postal }} {{ commande.ville }}</p>
                            <p><strong>Téléphone:</strong> {{ commande.telephone }}</p>
                        </div>
                        <div class="col-md-6">
                            <h4>Statut de paiement:</h4>
                            {% if commande.payer %}
                                <span class="badge badge-success">Payé</span>
                            {% else %}
                                <span class="badge badge-warning">En attente de paiement</span>
                                {% if not commande.payer %}
                                    <a href="{% url 'payment:paiement_unique' id_commande=commande.id %}" class="btn btn-primary btn-sm">Payer Maintenant</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <h4>Produits commandés:</h4>
                    <table class="table table-bordered custom-table" style="background-color: white; color: black;">
                        <thead>
                            <tr>
                                <th>Produit</th>
                                <th>Prix unitaire</th>
                                <th>Quantité</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in commande.items.all %}
                                <tr>
                                    <td>{{ item.produit.nom }}</td>
                                    <td>{{ item.prix }} fcfa</td>
                                    <td>{{ item.quantite }}</td>
                                    <td>{{ item.cout }} fcfa</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <hr>
                    <p><strong>Montant total:</strong> {{ commande.cout_total }} fcfa</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
