/* Style pour les boutons et pagination du swiper */
.swiper-button-prev,
        .swiper-button-next,
        .swiper-pagination {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0.5s, opacity 0.5s ease-in-out;
        }

        .swiper-container:hover .swiper-button-prev,
        .swiper-container:hover .swiper-button-next,
        .swiper-container:hover .swiper-pagination {
            visibility: visible;
            opacity: 0.3;
        }

/* Style pour les étoiles du rating */
.ref-rating {
    color: #ffc107; /* Couleur de remplissage jaune */
    font-size: 16px; /* Taille de police ajustable */
}
.star {
    display: inline-block;
}
.card {
        backdrop-filter: blur(8px); /* Ajustez la valeur de flou selon vos préférences */
        background-color: rgba(255, 255, 255, 0.8); /* Ajustez la couleur et l'opacité selon vos préférences */
}