.form-check-input:checked {
    background-color: #28a745;
    border-color: #28a745;
}

.form-check-label {
    color: #6c757d;
}

#descriptionContent {
        transition: all 0.3s ease;
        opacity: 0.9;
    }

.dropdown-item:hover {
    transform: scale(1.2);
    background-color: transparent !important;
    transition: transform 0.3s ease;
}

#monElement {
    transform: scale(0.9); /* Réduire la taille de moitié */
}



.pp {
    overflow: hidden; /* Optional: hide overflowing content */
}

.pp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

