{% extends "shop/base.html" %}
{% load static %}
{% load socialaccount %}

{% block title %}
    Connexion
{% endblock %}

{% block content %}
    <section class="py-5">
        <div class="container py-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <p class="fw-bold text-success mb-2"></p>
                    <h2 class="fw-bold">Welcome back</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card shadow rounded-2 bg-light-subtle" style="backdrop-filter: blur(8px)">
                        <div class="card-body text-center d-flex flex-column align-items-center shadow">
                            <div class="bs-icon-xl bs-icon-circle bs-icon-primary shadow bs-icon my-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"></path>
                                </svg>
                            </div>
                            <form method="post">
                                {% csrf_token %}
                                <div class="mb-3 shadow rounded-3">
                                    {{ formulaire.email }}
                                </div>
                                <div class="mb-3 shadow rounded-3">
                                    {{ formulaire.mdp }}
                                </div>
                                <div class="mb-3 shadow rounded-5">
                                    <button class="btn btn-primary shadow d-block w-100" type="submit">connexion</button>
                                </div>
                                <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
                                    <a href="{% url 'account:mdp_reinit_dem' %}">
                                        <p style="display: inline; color: darkgrey; margin-right: 10px;">Mot de passe oublié ?</p>
                                    </a>
                                    <a href="{% url 'account:compte_creation' %}">
                                        <p style="display: inline; color: #4285F4;">Créer un compte </p>
                                    </a>
                                </div>
                                <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 20px;">
                                    <div style="flex-grow: 1; height: 1px; background-color: lightgrey;"></div>
                                    <span style="margin: 0 10px; color: grey;">ou</span>
                                    <div style="flex-grow: 1; height: 1px; background-color: lightgrey;"></div>
                                </div>
                                <div class="mb-3 shadow rounded-3" style="border: 1px solid darkgrey; padding: 0.375rem 0.75rem; display: flex; align-items: center;">
                                    <img src="https://img.icons8.com/color/48/google-logo.png" alt="Google" style="vertical-align: middle; margin-right: 0.5rem; height: 20px;">
                                    <a href="{% provider_login_url 'google' %}" style="color: darkgrey; text-decoration: none;">
                                        Continuez avec Google
                                    </a>
                                </div>
                                <div class="mb-3 shadow rounded-3" style="border: 1px solid darkgrey; padding: 0.375rem 0.75rem; display: flex; align-items: center;">
                                    <img src="https://img.icons8.com/ios-glyphs/30/github.png" alt="Github" style="vertical-align: middle; margin-right: 0.5rem; height: 20px;">
                                    <a href="{% provider_login_url 'github' %}" style="color: darkgrey; text-decoration: none;">
                                        Continuez avec Github
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
